{% extends 'base.html' %}

{% block content %}
  <h3>Detalii de contact:</h3>
  <p>Adresă: <a href="https://www.google.com/maps?q=Strada+Biruintei,Numar+77,+Popesti-Leordeni,+Romania" target="_blank">Strada Biruintei, nr.77, Popesti-Leordeni, Romania</a></p>  </p>
  <p>Telefon: +40 123 456 789</p>
  <p>Email: contact@pharmacare.com</p>

  <h3>Trimite-ne un mesaj:</h3>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_nume">Numele tău</label>
        {{ form.nume }}
        {% if form.nume.errors %}
            <ul class="errorlist">
                {% for error in form.nume.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_email">Email-ul tău</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label for="id_mesaj">Mesajul tău</label>
        {{ form.mesaj }}
        {% if form.mesaj.errors %}
            <ul class="errorlist">
                {% for error in form.mesaj.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Trimite mesajul</button>
</form>

{% endblock %}
