{% extends 'base.html' %}
{% block content %}

  <h2>Misiunea noastră este:</h2>
    <p> Sa oferim o gama variata de vitamine, suplimente, dermatocosmetice si produse pentru copii, atent selectionate, de la cei mai prestigiosi si de incredere producatori de profil, la preturi foarte mici, accesibile tuturor! La PharmaCare ai cu cine vorbi dacă ai o problemă cu comanda, înțelegem cât de bine e să primești comanda repede, chiar dacă asta necesită mai mult efort din partea lor, poți primi consiliere.</p>
    <p> PharmaCare este farmacia dedicată nevoilor familiei tale, de la mic la mare, punând la dispoziţie o gamă variată şi un stoc complet de medicamente, medicamente OTC, accesorii medicale, produse pentru copii, suplimente alimentare, produse parafarmaceutice, produse cosmetice şi dermatocosmetice, toate la preţuri avantajoase.</p>
    <p> În farmaciile PharmaCare veți întâlni întotdeauna personal calificat gata să vă ofere cele mai bune sfaturi și soluții pentru orice problemă.</p>
    <p> O parte importantă din activitatea farmaciştilor din cadrul Farmaciilor PharmaCare este reprezentată de activitatea de îndrumare şi consiliere a pacienţilor spre un mod de viaţă sănătos, spre prevenţie şi vizitarea regulată a medicului.</p>



{% endblock %}