{% extends 'base.html' %}
{% block content %}
    <div class="product-detail">
        <h1>{{ produs.nume }}</h1>
        <p>{{ produs.descriere }}</p>
        <p><strong>Preț:</strong> {{ produs.pret }} RON</p>
        <p><strong>Categorie:</strong> {{ produs.category.name }}</p>

        <div class="product-images">
            {% if imagini_produs %}
                <div class="image-slider">
                    <div class="slider-wrapper">
                        {% for imagine in imagini_produs %}
                            <div>
                                <img src="{{ imagine.imagine.url }}" alt="Imagine suplimentară {{ produs.nume }}" width="300">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Nu sunt imagini suplimentare pentru acest produs.</p>
            {% endif %}
            {% if user.is_authenticated %}
                {% if in_cos %}
                    <p>Acest produs este deja în coș.</p>
                {% else %}
                    <a href="{% url 'adauga_in_cos' produs.id %}" class="btn">Adaugă în coș</a>
                {% endif %}
            {% else %}
                <p> <a href="{% url 'login' %}?next={{ request.path }}">Adauga in cos</a></p>
            {% endif %}

        </div>
        {% if not favorite %}

            <button id="favorite-btn" data-product-id="{{ produs.id }}">
                🤍 Adaugă la favorite
            </button>

        {% else %}
            <button id="favorite-btn" data-product-id="{{ produs.id }}">
                ❤️ In favorite
            </button>
        {% endif %}
            <p><a href="/produse/">Înapoi la produse</a></p>

    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>


{% endblock %}