{% extends 'base.html' %}

{% block content %}
<div class="filter-form">
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filtrează</button>
    </form>
</div>

<div class="product-list">
    {% for produs in produse %}
        <div class="product-item">
            <h3>{{ produs.nume }}</h3>
            <p>{{ produs.descriere }}</p>
            <p>Preț: {{ produs.pret }} RON</p>
            <p>Categorie: {{ produs.category.name }}</p>

            {% if produs.imagine %}
                <img src="{{ produs.imagine.url }}" alt="{{ produs.nume }}" width="200">
            {% else %}
                <p>Imagine nu este disponibilă</p>
            {% endif %}
            <a href="{% url 'produs_detalii' produs_id=produs.id %}">Vezi detalii</a>
        </div>
    {% endfor %}
</div>
{% endblock %}