{% extends 'base.html' %}
{% block content %}
  <h3>Programul nostru</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ziua</th>
        <th scope="col">Ore</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luni</td><td>09:00 - 18:00</td>
      </tr>
      <tr>
        <td>Marți</td><td>09:00 - 18:00</td>
      </tr>
      <tr>
        <td>Miercuri</td><td>09:00 - 18:00</td>
      </tr>
      <tr>
        <td>Joi</td><td>09:00 - 18:00</td>
      </tr>
      <tr>
        <td>Vineri</td><td>09:00 - 18:00</td>
      </tr>
    </tbody>
  </table>
  <h3>Detalii de contact:</h3>
  <p>Adresă: Strada Biruintei, Popesti-Leordeni, Romania</p>
  <p>Telefon: +40 123 456 789</p>
  <p>Email: contact@pharmacare.com</p>

{% endblock %}