body {
    background-color: black;
}

.product-images {
    width: 100%;
    max-width: 300px;

}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
        }
